.contacts {
  padding: 50px 0 100px;

  &__title {
    margin-bottom: 50px;
  }
  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  &__map {
    grid-column: 2 span;
    min-height: 400px;
    border-radius: 30px;
    overflow: hidden;
  }

  &__info {
    font-style: normal;
  }
  &__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
  }
  &__btn {
    text-align: center;
    justify-content: center;
  }
  &__row {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__capture {
    margin: 0;
    margin-bottom: 8px;
    font-size: 16px;
    color: var(--dark-color);
  }

  &__value {
    text-decoration: underline;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    color: var(--primary-color);

    svg {
      width: 30px;
      height: 30px;
      fill: var(--primary-color);
    }
  }
}
