.cta {
  overflow: hidden;
  padding: 100px 0;
  background-color: var(--light-bg);

  @include tablet {
    padding: 30px 0;
  }

  &__container {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 30px;
    padding: 40px;
    background-color: #fff;
    gap: 40px;

    @include tablet {
      flex-direction: column;
      gap: 30px;
    }
  }

  &__content {
    flex-shrink: 0;
    width: 100%;
    max-width: 55%;

    @include tablet {
      max-width: 100%;
    }
  }

  &__title {
    margin-bottom: 20px;
  }

  &__btn {
    display: block;
    margin: 0 auto;
    max-width: 450px;
  }

  &__desc {
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 1.5;
    color: var(--text-color);
    opacity: 0.8;
  }

  &__form {
    .form__group {
      margin-bottom: 20px;
    }

    .form__input {
      background-color: #fff;
    }

    .form__button {
      justify-content: center;
      width: 100%;
    }
  }

  &__img {
    position: absolute;
    right: 100px;
    bottom: 0;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    margin-bottom: -40px;
    width: 32%;

    @include tablet {
      display: none;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      width: 100%;
      height: auto;
      background: radial-gradient(
        circle,
        var(--primary-color) 0%,
        rgba(255, 255, 255, 0) 60%
      );
      object-fit: contain;
      opacity: 0.1;
    }

    img {
      position: relative;
      z-index: 2;
      height: auto;
      max-width: 100%;
      object-fit: contain;
      transform: scale(1.05);
    }

    @include tablet {
      width: 100%;
      min-height: 400px;

      img {
        max-height: 400px;
      }
    }
  }
}
