.hero {
  padding: 200px 0 150px;
  background-image: linear-gradient(to right, #00759270, transparent),
    url("./../img/hero.webp");
  background-size: cover;
  background-position: 0% 0, center;
  background-repeat: no-repeat;
  background-size: 80% 100%, cover;
  border-radius: 0 0 30px 30px;
  overflow: hidden;

  &__content {
    max-width: 1200px;
    padding: 60px;
    border-radius: 20px;
    backdrop-filter: blur(7px);
    background-color: rgba(0, 0, 0, 0.055);
  }

  &__title {
    margin-bottom: 40px;
  }

  &__subtitle {
    margin-bottom: 50px;
    max-width: 80%;
  }

  &__btn {
    font-size: 24px;
    padding: 20px 24px;
  }
}
