.products {
  padding: 100px 0 50px;
  &--main {
    margin: 60px 0;
  }
  @media (max-width: 1200px) {
    padding: 80px 0 40px;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    gap: 20px;
  }

  &__item {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    padding: 30px;
    min-height: 400px;
    background-color: #00769226;
    transition: background-color 0.3s ease;
    cursor: pointer;

    @media (hover: hover) {
      &:hover {
        background-color: #00759280;

        .products__img {
          img {
            filter: grayscale(0);
          }
        }

        .products__capture {
          color: var(--light-color);
        }
      }
    }

    @media (max-width: 768px) {
      min-height: 300px;
    }
  }

  &__link {
    position: absolute;
    inset: 0;
    z-index: 4;
  }

  &__img {
    position: absolute;
    right: -25%;
    bottom: 0;
    width: auto;
    height: 80%;

    @media (max-width: 768px) {
      right: -5%;
    }

    img {
      display: block;
      width: auto;
      height: 100%;
      object-fit: contain;
      filter: grayscale(1);
      transition: filter 0.3s ease;
    }
  }

  &__capture {
    font-weight: 500;
    font-size: 26px;
    line-height: 1.2;
    color: var(--primary-color);
    transition: color 0.3s ease;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
