<section class="about">
  <div class="container">
    <div class="about__container">
      <div class="about__content">
        <h2 class="title2 about__title">О&nbsp;компании АТП</h2>
        <p class="about__desc desc">
          Омская компания <span>"Автоматизация Технологических Процессов" (АТП)</span> &mdash;&nbsp;это предприятие,
          специализирующееся на
          разработке, внедрении и обслуживании систем автоматизации для промышленных и производственных объектов.
        </p>
        <div class="about__slider swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="about__img" data-src="./img/okak.webp" data-fancybox="sertificate">
                Сертификат
              </div>
            </div>
            <div class="swiper-slide">
              <div class="about__img" data-src="./img/okak.webp" data-fancybox="sertificate">
                Сертификат
              </div>
            </div>
            <div class="swiper-slide">
              <div class="about__img" data-src="./img/okak.webp" data-fancybox="sertificate">
                Сертификат
              </div>
            </div>
            <div class="swiper-slide">
              <div class="about__img" data-src="./img/okak.webp" data-fancybox="sertificate">
                Сертификат
              </div>
            </div>
            <div class="swiper-slide">
              <div class="about__img" data-src="./img/okak.webp" data-fancybox="sertificate">
                Сертификат
              </div>
            </div>
          </div>
          <div class="swiper-pagination about__pagination"></div>
        </div>
      </div>
      <canvas id="model-viewer" class="about__canvas"></canvas>
    </div>

    <div class="about__benefits benefits">
      <div class="benefits__container">
        <div class="benefits__item">
          <div class="benefits__img">
            <img src="./img/benefits/01.webp" alt="">
          </div>
          <div class="benefits__content">
            <div class="benefits__title">
              Индивидуальный подход к каждому проекту:
            </div>
            <p class="benefits__desc desc2">
              Мы разрабатываем решения, которые полностью соответствуют требованиям и потребностям каждого клиента
            </p>
          </div>
        </div>
        <div class="benefits__item">
          <div class="benefits__img">
            <img src="./img/benefits/02.webp" alt="">
          </div>
          <div class="benefits__content">
            <div class="benefits__title">
              Высококвалифицированные специалисты:
            </div>
            <p class="benefits__desc desc2">
              В компании работают эксперты с большим опытом в области автоматизации и современных технологий
            </p>
          </div>
        </div>
        <div class="benefits__item">
          <div class="benefits__img">
            <img src="./img/benefits/03.webp" alt="">
          </div>
          <div class="benefits__content">
            <div class="benefits__title">
              Комплексный спектр услуг:
            </div>
            <p class="benefits__desc desc2">
              От проектирования и внедрения до обслуживания и обучения персонала
            </p>
          </div>
        </div>
        <div class="benefits__item">
          <div class="benefits__img">
            <img src="./img/benefits/04.webp" alt="">
          </div>
          <div class="benefits__content">
            <div class="benefits__title">
              Инновационные разработки:
            </div>
            <p class="benefits__desc desc2">
              Используем передовые технологии для оптимизации бизнес-процессов и повышения эффективности
            </p>
          </div>
        </div>
        <div class="benefits__item">
          <div class="benefits__img">
            <img src="./img/benefits/05.webp" alt="">
          </div>
          <div class="benefits__content">
            <div class="benefits__title">
              Надежность и ответственность:
            </div>
            <p class="benefits__desc desc2">
              Постоянно поддерживаем высокий уровень качества и соблюдаем сроки реализации проектов
            </p>
          </div>
        </div>
        <div class="benefits__item">
          <div class="benefits__img">
            <img src="./img/benefits/06.webp" alt="">
          </div>
          <div class="benefits__content">
            <div class="benefits__title">
              Гибкость в работе с клиентами:
            </div>
            <p class="benefits__desc desc2">
              Готовы предложить выгодные условия сотрудничества и адаптироваться под любые сложности
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>