<section class="docs" id="docs">
  <div class="container">
    <h2 class="section-title title2">Документация</h2>
    <div class="docs__swiper swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="doc-card">
            <div class="doc-card__top">
              <h3 class="doc-card__title">Документ 1</h3>
              <p class="doc-card__desc desc2">Краткое описание документа или инструкции.</p>
            </div>
            <a href="#" class="doc-card__link" target="_blank">Открыть</a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="doc-card">
            <div class="doc-card__top">
              <h3 class="doc-card__title">Документ 2</h3>
              <p class="doc-card__desc desc2">Описание второго документа.</p>
            </div>
            <a href="#" class="doc-card__link" target="_blank">Открыть</a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="doc-card">
            <div class="doc-card__top">
              <h3 class="doc-card__title">Документ 1</h3>
              <p class="doc-card__desc desc2">Краткое описание документа или инструкции.</p>
            </div>
            <a href="#" class="doc-card__link" target="_blank">Открыть</a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="doc-card">
            <div class="doc-card__top">
              <h3 class="doc-card__title">Документ 2</h3>
              <p class="doc-card__desc desc2">Описание второго документа.</p>
            </div>
            <a href="#" class="doc-card__link" target="_blank">Открыть</a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="doc-card">
            <div class="doc-card__top">
              <h3 class="doc-card__title">Документ 1</h3>
              <p class="doc-card__desc desc2">Краткое описание документа или инструкции.</p>
            </div>
            <a href="#" class="doc-card__link" target="_blank">Открыть</a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="doc-card">
            <div class="doc-card__top">
              <h3 class="doc-card__title">Документ 2</h3>
              <p class="doc-card__desc desc2">Описание второго документа.</p>
            </div>
            <a href="#" class="doc-card__link" target="_blank">Открыть</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>