<header class="header">
  <div class="header__top">
    <div class="container">
      <nav class="nav header__nav">
        <ul>
          <li>
            <a href="#about">О нас</a>
          </li>
          <li>
            <a href="#objects">Наши объекты</a>
          </li>
          <li>
            <a href="#products">Продукция</a>
          </li>
          <li>
            <a href="#services">Услуги</a>
          </li>
          <li>
            <a href="#contacts">Контакты</a>
          </li>
          <li>
            <a href="#documents">Документация</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="container">
    <div class="header__container">
      <a href="#" class="header__logo">
        <img src="./img/logo.webp" alt="ATP Omsk">
      </a>

      <div class="header__buttons">
        <a href="#" class="btn btn--primary modal-btn">
          <span>Заказать звонок</span>
        </a>
        <a href="tel:88888888888" class="btn-reset link-btn header__tel">
          <span>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M16.8 0H7.20002C4.55332 0 2.40002 2.15334 2.40002 4.8V19.2C2.40002 21.8467 4.55332 24 7.20002 24H16.8C19.4467 24 21.6 21.8467 21.6 19.2V4.8C21.6 2.15334 19.4467 0 16.8 0ZM19.2 19.2C19.2 20.5236 18.1237 21.6 16.8 21.6H7.20002C5.87637 21.6 4.80002 20.5237 4.80002 19.2V4.8C4.80002 3.47634 5.87642 2.4 7.20002 2.4H16.8C18.1237 2.4 19.2 3.47634 19.2 4.8V19.2ZM13.2 19.2C13.2 19.8627 12.6628 20.4 12 20.4C11.3373 20.4 10.8 19.8627 10.8 19.2C10.8 18.5372 11.3373 18 12 18C12.6628 18 13.2 18.5372 13.2 19.2Z"
                fill="#fff"></path>
            </svg>
          </span>
          +7 (777) 777-77-77</a>
      </div>
    </div>

  </div>

</header>