<section class="hero">
  <div class="container">
    <div class="hero__container">
      <div class="hero__content">
        <h1 class="title1 hero__title">
          Автоматизация Технологических Процессов: Оптимизация и Эффективность для Вашего Бизнеса
        </h1>
        <p class="hero__subtitle subtitle1">
          Наша компания помогает компаниям оптимизировать процессы, повысить эффективность и снизить затраты.
        </p>
        <div class="hero__buttons">
          <a href="#" class="btn btn--primary modal-btn hero__btn"><span>Получить консультацию</span></a>
        </div>
      </div>
    </div>
  </div>
</section>