<section class="marquee">
  <div class="marquee__items">
    <div class="marquee__row">
      <div class="marquee__item">
        Автоматизация процессов
      </div>
      <div class="marquee__item">
        Проектирование АСУ&nbsp;ТП
      </div>
      <div class="marquee__item">
        Программирование контроллеров
      </div>
      <div class="marquee__item">
        Диспетчеризация и мониторинг
      </div>
      <div class="marquee__item">
        Современные технологии
      </div>
      <div class="marquee__item">
        Надежные решения
      </div>
      <div class="marquee__item">
        IoT и Industry 4.0
      </div>
      <div class="marquee__item">
        Модернизация оборудования
      </div>
      <div class="marquee__item">
        Качество и опыт
      </div>
      <div class="marquee__item">
        Эффективность и результат
      </div>
    </div>
    <div class="marquee__row">
      <div class="marquee__item">
        Автоматизация процессов
      </div>
      <div class="marquee__item">
        Проектирование АСУ&nbsp;ТП
      </div>
      <div class="marquee__item">
        Программирование контроллеров
      </div>
      <div class="marquee__item">
        Диспетчеризация и мониторинг
      </div>
      <div class="marquee__item">
        Современные технологии
      </div>
      <div class="marquee__item">
        Надежные решения
      </div>
      <div class="marquee__item">
        IoT и Industry 4.0
      </div>
      <div class="marquee__item">
        Модернизация оборудования
      </div>
      <div class="marquee__item">
        Качество и опыт
      </div>
      <div class="marquee__item">
        Эффективность и результат
      </div>
    </div>
  </div>
</section>