<section class="products">
  <div class="container">
    <h2 class="title2 products__title">
      Наша продукция
    </h2>
    <div class="products__container">
      <div class="products__item">
        <div class="products__img">
          <img src="./img/products/01.webp" alt="">
        </div>
        <div class="products__content">
          <div class="products__capture">
            Название продукта
          </div>

        </div>
      </div>
      <div class="products__item">
        <div class="products__img">
          <img src="./img/products/02.webp" alt="">
        </div>
        <div class="products__content">
          <div class="products__capture">
            Название продукта
          </div>

        </div>
      </div>
      <div class="products__item">
        <div class="products__img">
          <img src="./img/products/03.webp" alt="">
        </div>
        <div class="products__content">
          <div class="products__capture">
            Название продукта
          </div>

        </div>
      </div>
    </div>
  </div>
</section>