<section class="products" id="products">
  <div class="container">
    <div class="wrapper">
      <div class="products__header">
        <h2 class="title2 products__title">
          Наша продукция
        </h2>
        <a href="#" class="products__link link-btn">
          <span>
            Вся продукция
          </span>
          <svg width="16" height="8" viewBox="0 0 16 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M0.998932 3.625C0.72279 3.625 0.498932 3.84886 0.498932 4.125C0.498932 4.40114 0.72279 4.625 0.998932 4.625V3.625ZM15.8577 4.47855C16.0529 4.28329 16.0529 3.96671 15.8577 3.77145L12.6757 0.589466C12.4804 0.394204 12.1639 0.394204 11.9686 0.589466C11.7733 0.784728 11.7733 1.10131 11.9686 1.29657L14.797 4.125L11.9686 6.95343C11.7733 7.14869 11.7733 7.46527 11.9686 7.66053C12.1639 7.8558 12.4804 7.8558 12.6757 7.66053L15.8577 4.47855ZM0.998932 4.125V4.625H15.5041V4.125V3.625H0.998932V4.125Z" />
          </svg>
        </a>
      </div>
      <div class="products__container">
        <div class="products__item">
          <div class="products__img">
            <img src="./img/products/01.webp" alt="">
          </div>
          <div class="products__content">
            <div class="products__capture">
              Название продукта
            </div>

          </div>
        </div>
        <div class="products__item">
          <div class="products__img">
            <img src="./img/products/02.webp" alt="">
          </div>
          <div class="products__content">
            <div class="products__capture">
              Название продукта
            </div>

          </div>
        </div>
        <div class="products__item">
          <div class="products__img">
            <img src="./img/products/03.webp" alt="">
          </div>
          <div class="products__content">
            <div class="products__capture">
              Название продукта
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>